[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lark = "*"
attrs = "*"

[dev-packages]
black = "*"
coverage = "*"
flit = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
sphinx = "*"
furo = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.0"
